<<<<<<< HEAD
#first{
    font-size: 70px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-weight: bolder;
    text-align: center;
    margin-top: 60px;
}
#second{
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
    font-weight: lighter;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
#form{
    background-color: rgba(252, 255, 71, 0.425);
    width: fit-content;
    margin-left: 320px;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    border: rgba(9, 17, 131, 0.616) outset 20px;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 20px 20px 60px #080707;
    font-weight: bold;
}
input[type=text]{
    width: 67%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing:inherit;
    box-shadow: 20px;
    border-radius: 40px;
    border: 1px dotted rgb(4, 29, 112);
    background-color: rgb(190, 24, 176);
    color: rgb(255, 255, 255);
  }
  input[type=text]:focus{      
    border: 2px solid rgb(129, 5, 129);
    background-color: rgb(0, 60, 255);
}
::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1; 
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
  }
  input[type=email]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing:inherit;
    box-shadow: 20px;
    border-radius: 40px;
    border: 1px dotted rgb(4, 29, 112);
    background-color:  rgb(190, 24, 176);
    color: rgb(255, 255, 255);
  }
  input[type=email]:focus{      
    border: 2px solid rgb(129, 5, 129);
    background-color: rgb(0, 60, 255);
}

.select{
    width: 30%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing:inherit;
      box-shadow: 20px;
      border-radius: 40px;
      border: 1px dotted rgb(4, 29, 112);
      background-color:  rgb(190, 24, 176);
      color: rgb(255, 255, 255);
      font-family: 'Courier New', Courier, monospace;
      font-size: 17px;
}
.select:focus{
    border: 2px solid rgb(129, 5, 129);
    background-color: rgb(0, 60, 255);
}
.checkmark {
    width: 40px;
    height: 40px;
  }

  #submit{
    background-color: rgb(105, 125, 236);
    color: white;
    height: 50px;
    width: 45%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 300px;
  }
  #submit:hover{
      background-color: rgb(0, 175, 23);
  }
  #submit:focus{
      background-color: rgb(0, 60, 255);
  }
  #reset{
    background-color: rgb(105, 125, 236);
    color: white;
    height: 50px;
    width: 45%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 300px;
  }
  #reset:hover{
    background-color: rgb(175, 0, 0);
}
#reset:focus{
    background-color: rgb(0, 60, 255);
}
.textarea{
    background-color: rgba(255, 2, 234, 0.527);
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.textarea:focus{
    background-color: rgb(243, 106, 82);
}
#insta:hover{
color: rgb(109, 218, 245);
}
#insta{
    color: white;
=======
#first{
    font-size: 70px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-weight: bolder;
    text-align: center;
    margin-top: 60px;
}
#second{
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
    font-weight: lighter;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
#form{
    background-color: rgba(252, 255, 71, 0.425);
    width: fit-content;
    margin-left: 320px;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    border: rgba(9, 17, 131, 0.616) outset 20px;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 20px 20px 60px #080707;
    font-weight: bold;
}
input[type=text]{
    width: 67%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing:inherit;
    box-shadow: 20px;
    border-radius: 40px;
    border: 1px dotted rgb(4, 29, 112);
    background-color: rgb(190, 24, 176);
    color: rgb(255, 255, 255);
  }
  input[type=text]:focus{      
    border: 2px solid rgb(129, 5, 129);
    background-color: rgb(0, 60, 255);
}
::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1; 
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
  }
  input[type=email]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing:inherit;
    box-shadow: 20px;
    border-radius: 40px;
    border: 1px dotted rgb(4, 29, 112);
    background-color:  rgb(190, 24, 176);
    color: rgb(255, 255, 255);
  }
  input[type=email]:focus{      
    border: 2px solid rgb(129, 5, 129);
    background-color: rgb(0, 60, 255);
}

.select{
    width: 30%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing:inherit;
      box-shadow: 20px;
      border-radius: 40px;
      border: 1px dotted rgb(4, 29, 112);
      background-color:  rgb(190, 24, 176);
      color: rgb(255, 255, 255);
      font-family: 'Courier New', Courier, monospace;
      font-size: 17px;
}
.select:focus{
    border: 2px solid rgb(129, 5, 129);
    background-color: rgb(0, 60, 255);
}
.checkmark {
    width: 40px;
    height: 40px;
  }

  #submit{
    background-color: rgb(105, 125, 236);
    color: white;
    height: 50px;
    width: 45%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 300px;
  }
  #submit:hover{
      background-color: rgb(0, 175, 23);
  }
  #submit:focus{
      background-color: rgb(0, 60, 255);
  }
  #reset{
    background-color: rgb(105, 125, 236);
    color: white;
    height: 50px;
    width: 45%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 300px;
  }
  #reset:hover{
    background-color: rgb(175, 0, 0);
}
#reset:focus{
    background-color: rgb(0, 60, 255);
}
.textarea{
    background-color: rgba(255, 2, 234, 0.527);
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.textarea:focus{
    background-color: rgb(243, 106, 82);
}
#insta:hover{
color: rgb(109, 218, 245);
}
#insta{
    color: white;
>>>>>>> 9ae3e41122adfb80c967b6b71a1aa9070f937501
}